<% include admin/_header %>
<div class="container"><br>
    <div class="row">
        <div class="col-xl-6 col-md-9">
            <div class="card" >
                <div class="card-header">
                    Datos del registro
                </div>
                <div class="card-body">
                    <form action="/add" method="POST">
                        <label for="formGroupExampleInput">Tarea:</label>
                        <input type="text" class="form-control" name="tarea">
                        <div id="alerta"></div>
                        <label for="formGroupExampleInput">Fecha de finalización:</label>
                        <input type="date" class="form-control" name="fecha">
                        <br>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<% include admin/_footer %>