<div class="col-xl-12 navbar-dark bg-dark d-flex align-items-end footer-moy">
	<div>
    <span class="copyright-moy" >Preguntas Biblicas. Desarrollado por Moisés Chablé.</span></div>
</div>
</body>
</html>