


<footer class="navbar navbar-dark bg-dark col-xl-12 fixed-bottom">

    <span style="margin: 0.6rem 0; color: #FFFFFF">Preguntas Biblicas. Desarrollado por Moisés Chablé.</span>

</footer>

</body>
</html>