<% var cont = 0;%>
<audio id="audioFondoPregunta" autoplay loop src="../audio/music-fondo.mp3"></audio>
<div class="container">
<div class="row">
<div class="nube"></div>
<div class="nube"></div>
<div class="nube"></div>
<div class="nube"></div>
<div class="animated fadeInUp">
<center>
	<div class="col m12 center-align">
		 <img class="img-fluid" src="img/logo.png" style="margin: 1.5rem 0 ;padding: 0;" width="500"> <br><br><br><br><br>
	</div>
                    
	<div class="col m12">
	<a href="/question/<%= cont %>" class="waves-effect waves-light btn-large pulse light-blue darken-3" onmouseover="butonHover();">EMPEZAR</a>
	<br><br><p>*Tienes como máximo 15 segundos para contestar las preguntas<p>
	</div>
</center>
</div>
</div>
</div>