<% var cont = 0;%>
<div class="container">
<div class="row">
<div class="animated fadeInUp">
<center>
	<div class="col m12 center-align">
		 <img class="img-fluid" src="https://moises-chable.neocities.org/juegos/vendor/img/FotoJet.png" style="margin: 1.5rem 0 ;padding: 0;" width="500"> 
	</div>
                    
	<div class="col m12">
	<a href="/pregunta/<%= cont %>" class="waves-effect waves-light btn-large pulse light-blue darken-3">EMPEZAR</a>
	</div>
</center>
</div>
</div>
</div>