<div class="row">
	<div class="col-xl-12 text-center">
		 <img class="img-fluid" src="https://moises-chable.neocities.org/juegos/vendor/img/FotoJet.png" style="margin: 1.5rem 0 ;padding: 0;"> 
	</div>
	<div class="col-xl-6 text-right">
		<button type="button" class="btn btn-outline-light btn-lg">EMPEZAR</button>
	</div>
	
	<div class="col-xl-6 text-left">
		<button type="button" class="btn btn-outline-light btn-lg">INSTRUCCIONES</button>
	</div>

</div>