<% var cont = 0;%>
<audio id="audioFondoPregunta" autoplay="true" src="../audio/music-fondo.mp3"></audio>
<div class="container">
<div class="row">
<div class="nube"></div>
<div class="nube"></div>
<div class="nube"></div>
<div class="nube"></div>
<div class="animated fadeInUp">
<center>
	<div class="col m12 center-align">
		 <img class="img-fluid" src="img/logo.png" style="margin: 1.5rem 0 ;padding: 0;" width="400"> <br><br><br>
	</div>
      <div class="col m12 center-align">
		 <h3 class="white-text textPregunta">¡El juego a terminado!</h3><br>
	</div>            
	<div class="col m12">
	<a href="/question/<%= cont %>" class="waves-effect waves-light btn-large pulse light-blue darken-3" onmouseover="butonHover();">JUGAR DE NUEVO</a>
	</div>
</center>
</div>
</div>
</div>