<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ADIVINA QUIEN</title>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      <link href="https://fonts.googleapis.com/css?family=Bowlby+One+SC|Didact+Gothic|Shadows+Into+Light|Tajawal&display=swap|VT323&display=swap&subset=latin-ext" rel="stylesheet"> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css"></script> 

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<style type="text/css">
		body{
			background-image: url("https://moises-chable.neocities.org/juegos/vendor/img/nubes2.jpg");
			background-repeat: no-repeat;
			background-size:cover;
			
		}
		.textFont{
            font-family: 'Shadows Into Light', cursive;
        }
        .textCrew{
            font-family: 'Bowlby One SC', cursive;
             -webkit-text-stroke: 2px black;
        }
        .textPregunta{
           font-family: 'Didact Gothic', sans-serif;
        }
        .textCronometro{
        	font-family: 'VT323', monospace;
        	color: #1b5e20;
        	margin: 0;
        	padding: 0;
        }
        .boton-opciones{
        	font-size:1.5rem;
        	
        }
        .respuesta{
        	display:none;
        }
        .botonNext{
        	display:none;
        }
      
	</style>