<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PREGUNTAS BIBLICAS</title>
    <link rel="icon" type="image/png" href="../img/icono.png" />
    <link rel="stylesheet" href="../css/materialize.min.css">
    <link rel="stylesheet" href="../css/main-app.css">
    <link rel="stylesheet" href="../css/animate.css">
    <link rel="stylesheet" href="../css/all.css">

    <link href="https://fonts.googleapis.com/css?family=Bowlby+One+SC|Didact+Gothic|Shadows+Into+Light|Tajawal&display=swap|VT323&display=swap&subset=latin-ext" rel="stylesheet">

     <script src="../js/materialize.min.js"></script>
        
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
